{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/margin.css' %}">
</head>
<body>
    
    
    
    
    <div class="margin">
    {% include 'navbar.html' %}
    
    
    <h1>{{ film.title }}</h1>
    
    <p><strong>Year:</strong> {{ film.year }}</p>
    <p><strong>Style:</strong> {{ film.style }}</p>
    <p><strong>Director:</strong> {{ film.director }}</p>
    <p><strong>Description:</strong> {{ film.description }}</p>
    <p><strong>Created at:</strong> {{ film.created_at }}</p>
    <p><strong>Updated at:</strong> {{ film.updated_at }}</p>
    
    </div>
</body>
</html>