<!DOCTYPE html>
<html>
<body>

<h1>Movies</h1>
<p> Here are the movies in the database </p>

<form action="search" method="POST">
    {% csrf_token %}
  <input type="text" name="searched" placeholder="Search for movies">
  <button type="submit">Search</button>

</form>

{% if films %}
    <h1> you search for :  
        
        {% for film in films %}
        <a href="{% url 'film_detail' film_id=film.id %}">{{ film.title }}</a>
        {% endfor %}
    </h1>

{% elif movies %}
    <h1> you search for :  
        
        {% for movie in movies %}
        <a href="">{{ movie.Title }}</a>
        {% endfor %}
    </h1>

{% elif searched %}
    <h1> you search for :  
        
        {% for search in searched %}
        <a href="{% url 'film_detail' film_id=search.id %}">{{ search.title }}</a>
        {% endfor %}
    </h1>
        
{% else %}
    <h1> you search for nothing </h1>
{% endif %}

</body>
</html>