{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Search Bar</title>
        <link rel="stylesheet" href="{% static 'css/margin.css' %}">
    </head>
<body>

    
   {% include 'navbar.html' %}

   <div class="margin">
<h1>Recherche : </h1>
<p> liste des films : </p>



{% if films %}
    <h1> Recherche pour  :  
        
        <ul> 
        {% for film in films %}

           <li> <a href="{% url 'film_detail' film_id=film.id %}">{{ film.title }}</a></li>
            {% endfor %}
        </ul>
    </h1>

{% elif movies %}
    <h1> Recherche pour  :       
                
        <a href="{% url 'film_name' title=movies.Title %}">{{ movies.Title }}</a>
     
    </h1>


        
{% else %}
    <h1> Film non présent dans la base de données et dans l'api </h1>
{% endif %}
    </div>
</body>
</html>